
@{
    ViewData["Title"] = "CMC - Thalassemia & Sickle cell";
}

<div class="form-container">

    <div class="form-image">
        <div class="l-image">
        </div>
    </div>

    <div class="form-form">
        <div class="col-md-12">
            <a href="#" class="float-right">
                <img src="~/lib/assets/img/help-icon-small.png">
                <p>Help</p>
            </a>
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="text-center">
                            Log In
                            <!-- <a href="index.html"><span class="brand-name">
                            <img src="assets/img/90x90.jpg" class="navbar-logo" alt="logo"></span></a> -->
                        </h1>
                        <form class="text-left" action="" name="frmUser" method="POST">
                            <div class="form">
                                <div id="username-field" class="field-wrapper input">
                                    <div class="" ng-class="{'has-error':frmUser.username.$invalid && frmUser.username.$dirty && showEmailError}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <input id="username" name="username" ng-model="user.Email" type="email" class="form-control" placeholder="Username"
                                               autofocus required
                                               ng-minlength="5" ng-maxlength="100"
                                               ng-blur="showEmailError=frmUser.username.$invalid && !frmUser.username.$pristine">
                                    </div>
                                    <div class="errorMessage">
                                        <div ng-messages="frmUser.username.$dirty && frmUser.username.$error"
                                             ng-show="showEmailError">
                                            <span class="error" ng-show="frmUser.username.$error.required">
                                                Email Id is Required!
                                            </span>
                                            <span class="error" ng-show="frmUser.username.$error.email">
                                                Invalid Email Id!
                                            </span>
                                            <span class="error" ng-show="frmUser.username.$error.maxlength">
                                                Maximum length required is 100
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <div class="" ng-class="{'has-error':frmUser.password.$invalid && frmUser.password.$dirty && showPassError}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                        <input id="password" name="password" ng-model="user.Password" type="password" class="form-control" placeholder="Password" required
                                               ng-minlength="8" ng-maxlength="25"
                                               ng-blur="showPassError=frmUser.password.$invalid && (!frmUser.password.$pristine)">
                                    </div>
                                    <div class="errorMessage mx-auto">
                                        <div ng-messages="frmUser.password.$dirty && frmUser.password.$error"
                                             ng-show="showPassError">
                                            <div ng-message="required" class="has-error">
                                                <span class="error">Password is Required!</span>
                                            </div>
                                            <div ng-message="minlength" class="has-error">
                                                <span class="error">Minimum length required is 8</span>
                                            </div>
                                            <div ng-message="maxlength" class="has-error">
                                                <span class="error">Maximum length required is 25</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper toggle-pass">
                                        <p class="d-inline-block">Show Password</p>
                                        <label class="switch s-primary">
                                            <input type="checkbox" id="toggle-password" class="d-none">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <br />
                                <div class="field-wrapper d-sm-flex justify-content-between">
                                    <div class="n-chk new-checkbox checkbox-outline-primary">
                                        <label class="new-control new-checkbox checkbox-outline-primary">
                                            <input type="checkbox" class="new-control-input">
                                            <span class="new-control-indicator"></span>Keep me logged in
                                        </label>
                                    </div>                                    
                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value="" ng-click="loginUser()" ng-disabled="frmUser.$invalid">Log In</button>
                                    </div>
                                </div>

                                <div class="text-left">
                                    <a href="auth_pass_recovery.html" class="forgot-pass-link">Forgot Password?</a>
                                </div>

                            </div>
                        </form>
                        <p class="terms-conditions">© 2020 All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/scripts/login/loginApp.js"></script>