<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
  <div class="overlay"></div>
  <div class="search-overlay"></div>
  <!--  BEGIN SIDEBAR  -->
  <div class="sidebar-wrapper sidebar-theme">
    <app-site-sidebar module="anm" subMenum="sample-collection"></app-site-sidebar>
  </div>
  <!--  END SIDEBAR  -->
  <!--  BEGIN CONTENT AREA  -->
  <div id="content" class="main-content">
    <div class="layout-px-spacing">
      <div class="row layout-top-spacing">
        <!-- <div class="col-md-12 text-center">
            <h5 class="">ANM Name - PHC Name</h5>
        </div> -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <h5 class="float-left">
                <a class="btn btn-primary" href="live-screener-entry.html"
                   role="button">Subject Registration</a>
              </h5>
            </div>
            <div class="col-md-4">
              <h5 class="float-center">Sample Collection</h5>
            </div>
            <div class="col-md-4">
              <div class="float-right mb-4">
                <a class="btn btn-primary" href="Completed.html" role="button">Pick & Pack List</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
          <div class="widget-content widget-content-area br-6">
            <div class="form-row mt-4">

            </div>
            <div class="form-row mt-4">
              <!--  <div class="form-group col-md-2">
                  <label for="inputTypecollection">Type of collection</label>
                  <select id="inputTypecollection" class="form-control" required>
                      <option selected>---- Select ----</option>
                      <option>First time collection</option>
                      <option>Damaged Samples</option>
                      <option>Sample timeout expiry</option>
                  </select>
              </div> -->
              <div class="form-group col-md-3">
                <label for="inputFromdate">From Date</label>
                <div class="form-group mb-0">
                  <input id="scFromDate"
                         class="form-control flatpickr flatpickr-input active" type="text"
                         placeholder="dd/mm/yyyy">
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputTodate">To Date</label>
                <div class="form-group mb-0">
                  <input id="scToDate"
                         class="form-control flatpickr flatpickr-input active" type="text"
                         placeholder="dd/mm/yyy">
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputSubjectcategory">Subject Type</label>
                <select id="inputSubjectcategory" class="form-control" required>
                  <option selected>Select Type</option>
                  <option>Antenatal Woman</option>
                  <option>Spouse</option>
                  <option>Child</option>
                  <option>Walk-in</option>
                </select>
              </div>
              <div class="col-md-2 mt-4 ml-3">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table id="zero-config" class="table table-bordered table-hover" style="width:100%">
                    <thead>
                      <tr>
                        <th class="text-center"><span>S.No</span></th>
                        <th style="text-align: left;"><span>Subject Name</span></th>
                        <th><span>Subject ID</span></th>
                        <th style="text-align: left;"><span>Subject Type</span></th>
                        <th><span>Contact</span></th>
                        <th><span>Subject Registration Date</span></th>
                        <th><span>Gestational Age</span></th>
                        <th><span></span></th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">1</td>

                        <td>Alkha</td>
                        <td style="text-align: center;">THSIK2020153</td>
                        <td>Antenatal woman</td>
                        <td style="text-align: center;">8977675756</td>
                        <td style="text-align: center;">12/04/2020</td>
                        <td style="text-align: center;"> 8 </td>
                        <td style="text-align: center;">
                          <button type="submit" class="btn btn-success" data-toggle="modal"
                                  data-target=".bd-example-modal-xl">
                            Sample Collection
                          </button>
                      </tr>
                      <tr>
                        <td class="text-center">2</td>
                        <td>Pooja</td>
                        <td style="text-align: center;">THSIK2020154</td>
                        <td>Antenatal woman</td>
                        <td style="text-align: center;">8977675757</td>

                        <td style="text-align: center;">12/04/2020</td>
                        <td style="text-align: center;"> 8 </td>
                        <td style="text-align: center;">
                          <button type="submit" class="btn btn-success">
                            Sample
                            Collection
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">3</td>

                        <td>Sowmiya</td>
                        <td style="text-align: center;">THSIK2020155</td>
                        <td>Antenatal woman</td>
                        <td style="text-align: center;">8977675759</td>
                        <td style="text-align: center;">12/04/2020</td>
                        <td style="text-align: center;"> 8 </td>
                        <td style="text-align: center;">
                          <button type="submit" class="btn btn-success">
                            Sample
                            Collection
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- The Modal -->
            <div class="modal fade  bd-example-modal-xl" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title modaltitle" id="myExtraLargeModalLabel">
                      Sample
                      Collection
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                           height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                           stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                           class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                      </svg>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="col-md-12" id="myTable"
                         style="line-height: 3.5rem;padding-top: 2%;">
                      <div class="row">
                        <div class="col-md-3">
                          <span class="note">Subject Name : </span><span class="">Alkha</span>

                        </div>
                        <div class="col-md-4">
                          <span class="note">Subject ID : </span><span class="">THSIK2020153</span>
                        </div>
                      </div>

                      <div class="row mb-5">
                        <div class="col-md-3">
                          <span class="note">Scan / Enter Barcode </span><span class="manto">*</span>
                          <!-- <img src="assets/img/barcode-1.4.png" style="width:100%;"> -->
                          <!-- <div class="centered"><p>Scan / Enter barcode no</p></div> -->
                          <input class="form-control field" name="pincode" type="text"
                                 placeholder="">

                        </div>
                        <div class="col-md-3">
                          <span class="note">Date of Collection </span><span class="manto">*</span>
                          <input id="popupDate"
                                 class="form-control flatpickr flatpickr-input active" type="text"
                                 placeholder="dd/mm/yyyy">
                        </div>
                        <div class="col-md-3">
                          <span class="note">Time of Collection </span><span class="manto">*</span>
                          <input id="popupTime"
                                 class="form-control flatpickr flatpickr-input active" type="text"
                                 placeholder="">
                        </div>

                        <div class="col-md-3">
                          <span class="note">Reason </span><span class="manto">*</span>
                          <select name="occupationoption" class="form-control field"
                                  id="test" tabindex="7" required=""
                                  onchange="showDiv('hidden_div', this)">
                            <option value="0">First Time Collection</option>
                            <option value="1">Damaged Sample</option>
                            <option value="2">Sample Timeout</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="mr-2 btn btn-primary" id="linktobuttonsamplecol">Submit</button>
                      <button class="btn" data-dismiss="modal">
                        <i class="flaticon-cancel-12"></i> Close
                      </button>
                    </div>

                    <!-- <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                        aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="mySmallModalLabel"></h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                        <svg aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-x">
                                            <line x1="18" y1="6" x2="6" y2="18"></line>
                                            <line x1="6" y1="6" x2="18" y2="18"></line>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body text-center">
                                        <h5>Sample Collected Successfully
                                        </h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal"><i
                                                class="flaticon-cancel-12"></i> Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> -->
                  </div>
                </div>

                <!-- <div class="footer-wrapper">
                    <div class="footer-section f-section-1">
                        <p class="">Copyright © 2020 <a target="_blank"
                                href="https://designreset.com">DesignReset</a>, All rights reserved.</p>
                    </div>
                    <div class="footer-section f-section-2">
                        <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-heart">
                                <path
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg></p>
                    </div>
                </div> -->
              </div>
              <!--  END CONTENT AREA  -->
            </div>
            <!-- END MAIN CONTAINER -->
          </div>
          <!-- <div class="row mt-4">
              <div class="col-md-12">
                  <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-end">
                        <li class="page-item"><a class="page-link" href="notification.html">1</a></li>
                        <li class="page-item"><a class="page-link" href="live-screener-entry.html">2</a></li>
                        <li class="page-item active"><a class="page-link" href="collection.html">3</a></li>
                        <li class="page-item"><a class="page-link" href="Completed.html">4</a></li>
                        <li class="page-item"><a class="page-link" href="shipmentlog.html">5</a></li>
                        <li class="page-item"><a class="page-link" href="profile.html">6</a></li>
                      </ul>
                    </nav>
              </div>
          </div> -->
        </div>
      </div>

    </div>
  </div>
  <!--  END CONTENT AREA  -->
</div>
<!--  END MAIN CONTAINER  -->

<i appLoadScript [script]="'assets/assets/js/anm-module/sample-collection.js'"></i>
<i appLoadScript [script]="'assets/plugins/flatpickr/collection-flatpickr.js'"></i>
<!--<i appLoadScript [script]="'assets/plugins/noUiSlider/custom-nouiSlider.js'"></i>-->
<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>
<!--<i appLoadScript [script]="''"></i>-->
